<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css"/>
  </head>
  <body style="padding: 50px">
    <h1><%= message %></h1>
    <button class="btn btn-success" style="background: green;"><a href="/orders" style="color: white;">< RETURN TO ORDERS</a></button>
  </body>
</html>
