<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= message %></h1>
    <button class="btn btn-success" style="background: green;"><a href="/orders" style="color: white;">< RETURN TO ORDERS</a></button>
  </body>
</html>
