body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.half {
    transform: rotate(90deg);
}

#message_holder {
    transform: rotate(90deg);
    position: absolute;
    top: 325px;
    right: 100px;
    width: 500px;
    height: 200px;
    text-align: center;
    display: table;
}

div#message {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}
